.boton-contenedor {
  height: 60px;
  width: 60px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  background-color: #1b1b32;
  color: white;
  border-radius: 20px;
  border: 2px solid white;
  margin: 2px;
  cursor: pointer;
  user-select: none;
  box-shadow: 2px 2px rgb(17, 17, 17);
}

.boton-contenedor:active {
  background-color: #a29fa5;
  translate: 3px 2px;
}

.operador {
  background-color: #00471b;
}

.operador:active {
  background-color: #a29fa5;
  translate: 3px 2px;
}

@media screen and (max-width: 420px){
  .boton-contenedor {
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 14px;
    border: 1px solid white;
  }
}